clip==0.1.0
diffusers==0.28.2
fire==0.6.0
fsspec==2024.6.0
gradio==4.36.1
huggingface_hub==0.23.3
imageio==2.34.1
invisible_watermark==0.2.0
kornia==0.6.9
matplotlib==3.9.0
natsort==8.4.0
numpy==1.26.4
omegaconf==2.3.0
open_clip_torch==2.24.0
opencv_python==4.6.0.66
packaging==24.1
Pillow==10.3.0
pudb==2024.1
pytest==8.2.2
pytorch_fid==0.3.0
pytorch_lightning==2.0.1
rembg==2.0.57
Requests==2.32.3
safetensors==0.4.3
scipy==1.13.1
setuptools==69.5.1
streamlit==1.35.0
# torch==2.0.1+cu118
torchdata==0.6.1
# torchvision==0.15.2+cu118
tqdm==4.66.4
transformers==4.41.2
wandb==0.17.1
webdataset==0.2.86
xformers==0.0.22
accelerate
